<ion-header>
  <ion-toolbar>
    <ion-title>RESGISTRO TURING</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [formGroup]="formularioRegistro"  >

  <form [formGroup]="formularioRegistro" (ngSubmit)="registrar()">
   
    <ion-item>
      <ion-label>NOMBRE COMPLETO</ion-label>
      <ion-input formControlName="nombre"  placeholder="Enter text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>NUMERO DE DOCUMENTO</ion-label>
      <ion-input formControlName="documento" type="text" placeholder="000"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Password input</ion-label>
      <ion-input formControlName="contrasenia"  type="password" value="password"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>CORREO ELETRONICO</ion-label>
      <ion-input formControlName="correo"  type="email" placeholder="email@domain.com"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>NUMERO DE TELEFONO</ion-label>
      <ion-input formControlName="telefono"  type="tel" placeholder="888-888-8888"></ion-input>
    </ion-item>

  </form>

  </ion-list>
  
  <section class="enlace-ingreso">
    <ion-button (click)="registrar()" expand="block" class="boton" >Guardar</ion-button>
  </section>

  <ion-text color="warning">
    <p *ngIf="mensajeRegistro" >Usuario Registrado</p>
  </ion-text>

</ion-content>
